.everything{
    margin:0;
    padding:0;
    display:flex;
    flex-direction:column;
    height:100vh;
    width: 100vw;
    

}


.section1{
    background: url('legend1.jpeg') no-repeat center center fixed;
    display:flex;
    flex-direction:column;
    justify-content: center;
    align-items: center;
    flex: 1;

}

.subsection1{
    display: flex;
    justify-content: space-between;
    align-items:center;
    gap:50px;
}

.subsection2{
    display:flex;
    justify-content:space-between;
    align-items:center;
    margin-top: 30px;
    gap:100px;
}



ul{
    list-style-type: none;
    display: flex;
    flex-direction:row;
    gap: 8px;
}




.section2 {
    background-color:aquamarine;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding:32px;
    flex: 1;


}

.section2 .text{
    margin-bottom: 30px;
}

.m-images {
    display: flex;
    flex-direction: row;
    gap: 40px;
    
}

.m-images img{
    border: 1px solid black;
    height: 80px;
    width:68px;
    border-radius: 18%;
}

.section3{
    background-color: rgb(212, 145, 221);
    
    display: flex;
    justify-content: center;
    align-items: center;
    flex: 1;

}


.section4{
    display: flex;
    background-color:pink;
    justify-content: center;
    align-items: center;
    flex:1;
}

.sub41 {
    display: flex;
    justify-content: space-evenly;
    align-items:center;
    background-color:blueviolet;
    border: 1px solid black;
    border-radius: 10%;
    gap: 50px;
    width: 700px;
    height: auto;
    
}


.section5{
    background: url('legend1.jpeg') no-repeat center center fixed;
    display:flex;
    justify-content: center;
    align-items: center;
    flex: 0.2;

}




